.Profile {
    width: 250px;
    height: 330px;
    box-shadow: 0 1px 3px rgba(191, 205, 222, 0.75);
    background-color: #ffffff;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Name,
.Tag,
.Location,
.Stats,
.Quantity,
.Label {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Avatar {
    width: 99px;
    height: 99px;
    display: block;
    border-radius: 50px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-bottom: 30px;
}

.Description {
    margin-bottom: 29px;
}

.Name {
    color: #122236;
    font-size: 18px;
    font-weight: 700;
}

.Name,
.Tag {
    margin-bottom: 11px;
}


.Tag,
.Location {
    color: #768696;
    font-size: 14px;
    font-weight: 400;
}

.Stats {
    list-style: none;
    display: flex;
    border: 1px solid #e4e9f0;
    background-color: #f3f6f9;
    position: relative;
}

.Stats::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    left: 33.333%;
    top: 0;
    background-color: #e4e9f0;
}

.Stats::before {
    content: "";
    position: absolute;
    display: block;
    height: 74px;
    width: 1px;
    right: 33.333%;
    top: 0;
    background-color: #e4e9f0;
}

.Stats li {
    width: 33.333%;
    height: 74px;
}


.Label {
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    display: block;
}

.Quantity {
    color: #1f3349;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    display: block;
}